@{
    ViewData["Title"] = "这是用code的第一个网页";
}

<div class="text-center">
    <h1 class="display-4">这软件还行啊</h1>
    <p>软件详情请看这里<a href="https://code.visualstudio.com/">Visual Studio Code</a>.</p>
</div>
